<header class="row">
  <h1>
    <%= @user.handle %>
    <small><%= @user.name %> (<%= pluralize(@user.points, 'points') %>)</small>
  </h1>
</header>

<div class="row">
  <p>I'm in Crew!</p>
</div>

<div id="badges" class="row">
  <h3>Badges</h3>
  <% if @user.badges.count > 0 %>
    <ul class="row">
      <%= render collection: @user.badges, partial: 'users/badge' %>
    </ul>
  <% else %>
    <p><%= "#{@user.name} doesn't have any badges yet. :(" %></p>
  <% end %>
</ul>
</div>
